/* Bottstrap uses a tag in selector and we use a div */
.ui-menu-item-wrapper {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  position: relative;
padding: 3px 1em 3px .4em;
}

/* UI utility class to accessibly hide an input */
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* small fix for selectmenu icon */
.ui-selectmenu-text {
  float: left;
  margin-right: .75em;
}
.ui-menu-item .ui-menu{
  position:absolute;
}
.ui-menu .ui-menu-icon {
  left: auto;
  right: 0;
  position: absolute;
  top: 50%;
  margin-top: -8px;
}
.ui-selectmenu-menu {
  display:none;
}
.ui-selectmenu-menu.open {
  display:block;
}
.tab-pane {
  margin-top: 1em;
}
.panel-title {
  display:inline;
}